<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Angular</title>
    <script src="angular-1.8.2/angular.min.js"></script>
    <script>
        function TodoDataService() {
            let data = [
                {
                    id: 1,
                    name: "Write a todo",
                }
            ];

            let lastIndex = 1;

            let service = {
                get todos() {
                    return data;
                },
                add: function(value) {
                    data.push({
                        id: ++lastIndex,
                        name: value || "Empty"
                    });
                },
                remove: function(id) {
                    data = data.filter(x => x.id != id);
                }
            }

            return service;
        }

        function TodoController(TodoDataService) {
            let vm = this;
            vm.textInput = "";

            vm.todoDataService = TodoDataService;
            vm.todos = vm.todoDataService.todos;
            
            vm.addTask = function () {
                vm.todoDataService.add(vm.textInput);
            }

            vm.deleteTask = function (id) {
                vm.todoDataService.remove(id);
                vm.todos = vm.todoDataService.todos;
                console.log("remove " + id);
            }
        }

        angular.module('app', [])
            .service('TodoDataService', TodoDataService)
            .controller('TodoController', ["TodoDataService", TodoController]);
    </script>
</head>

<body ng-app="app">
    <div  ng-controller="TodoController as vm">
        <label for="textInput">
            <input id="textInput" type="text" ng-model="vm.textInput">
            <button ng-disabled="vm.textInput.length===0" ng-click="vm.addTask()">Add</button>
        </label>
        <ul>
            <li ng-repeat="todo in vm.todos">
                {{ todo.name }} <button ng-click="vm.deleteTask(todo.id)">Supprimer</button>
            </li>
        </ul>
    </div>
</body>

</html>